
/*
body {
  --fontColor: red;
  color: var(--fontColor);
}
*/

.App-body{
  align-items: center;
  width: 100vw;
  font-family: 'Roboto Condensed', sans-serif;
  /* background-image: linear-gradient(rgba(243, 253, 255, 0.707),  rgba(20, 52, 126, 0) );  */
  /* background-color:rgba(219, 236, 237, 0.604); fundo */
  background-color: #e1e1e1; /*fundo*/
  /* z-index:3; */
  --normalSize: 24px;
  font-size: var(--normalSize);
  --normalWeight: 800;
  font-weight: var(--normalWeight);
  
}



h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Condensed', sans-serif;
}

/*100 % da viewing area */ 
.container_header nav{
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 10vw;
  border-bottom: 1px solid #e1e1e1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}


.header {
  background-color: #0C243C;
  display: block;
  /* font-size: 1.5em; */
  position: fixed;
  font-weight: bold;
  z-index: 100;
}

.header a{
  text-decoration: none;
  columns: #000000;
  color: #000000;
  text-transform: uppercase;
  font-weight: 500;
  font-family: 'Roboto Condensed', sans-serif;
  color: #FFFFFF;
}

.container-corpo{
  border: 2px solid #e1e1e1;
  align-items: top;
  text-align: start;
  grid-template-columns: 140px 1fr;
  grid-row-gap: 10px;
  grid-column-gap: 20px;
  width: 90vw;
  margin-left: 10vw;
  min-height: 100vh;
  height: fit-content;
  padding: 5px;
  border-radius: 5px;
  background-color: #201D35 ;  /*corpo*/
  box-shadow: 3px 3px 14px 2px #383434;
  color:#FFFFFF;
  /* z-index: 1; */
  text-align: left;
  

}




.colunas-fisica {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 50px;
  grid-row-gap: 0px;
  border: 3px solid rgba(5, 7, 7, 0.227);
  padding: 20px;
}
.colunas-fisica li{
  margin-left: 20px;
  padding: 10px;
  list-style-type: none;

  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  text-align: justify;
  word-wrap: break-word;
}

.cell{
  padding: 30px 15px 30px 20px;
  background-color:white ;
  color:black;
  border: 2px solid #e1e1e1;
  border-radius: 20px;
}


p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-family: "Roboto Condensed", sans-serif;
  
}

p a{
  text-decoration: none;
  padding: 2px;
}




.photo{
  border-radius: 50%;
  border: 5px solid  #505050;
}

.photo-git{
  border: none;
}



.title_page{
  /* font-size: calc(10px + 3vmin); */
  display: grid;
  align-items: center;
  text-align: left;
}

.container{
  display:flex;
  /* font-size: calc(10px + 2vmin); */
  
  flex-direction: column;
  text-align: justify;
  
  border: 4px solid black;
  margin: 3%;
  padding: 3%; 
  border-radius: 10px;
}
.margin-top-10px{
  margin-top: 10px;
}
.textocontainer{
  display: flex;
  justify-content: center;
  
}

.container a{
  text-decoration: none;
}

.listagem{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 5px;
  padding-bottom: 5px;
}
.container-foto {
  float:left;
  flex-direction: row;
  justify-content: center;
  border:none;
  align-items: center;
}

.center-text{
  justify-content: center;
}

.container-foto-git{
  display: flex;
  flex-direction: row;
  justify-content: left;
}


.texto_secao{
  letter-spacing: 0;
  line-height: 1.7;
  -webkit-hyphens: auto; /**Chrome/Android**/
  -moz-hyphens: auto; /**Firefox**/
  -ms-hyphens: auto; /**Edge**/
  hyphens: auto; /**Outros**/
  width: 100%;
}

div.texto_secao{
  display: inline-block;
  border: 3px solid #333333;
  border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
  text-transform: uppercase;
  letter-spacing: 0.2ch;
  background: #ac4c4c;
  position: relative;
 }

.texto_secao h2{
  margin-top: 0;
  
}
.texto_secao a{
  text-decoration: none;
  /* font-size: 18px;   */
  margin-top: 2px;
  color: rgb(29, 146, 192);
  
}
.texto_secao a:hover {
  text-decoration: underline;
}

.texto_secao a:active {
  color: rgb(29, 146, 192);;
}

.Botao-Contato{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  color:black
}


.Botao-Contato a{
animation:bouncy 5s infinite linear;
position:relative;
border: 2px solid #e1e1e1;
box-sizing: border-box;
text-transform:uppercase;
columns: #000000;
background-color:#FFFFFF;
text-align:center;
width: 100%;
height: 35px;
border-radius: 10px;
 /* box-shadow: 7px 7px 7px 7px #e1e1e1;  */
font-weight: 800;
}

@keyframes bouncy {
 0%{top:0em}
 40%{top:0em}
 43%{top:-0.9em}
 46%{top:0em}
 48%{top:-0.4em}
 50%{top:0em}
 100%{top:0em;}
}


.texto-sobre{
  display:flex;
  flex-direction: column;

}



.links{
  display:flex;
  flex-direction: column;
  /* font-size: 16px; */
  margin-top:20px;
  margin-bottom:30px;
  text-align: center;
  padding: 10px;
  margin: 5px;
}

.links a:hover {
  text-decoration: underline;
}

.post_text{
  /* font-size: calc(10px + 2vmin); */
  margin-bottom : 15px; 
  margin-top : 15px; 
  font-family: Verdana,Arial;

}

ul{
  margin-left:0px;
}




.App-link {
  color: #61dafb;
  
}

.container-footer div{
  text-align: center;
  /* font-size: x-large; */
  font-family: 'Roboto Condensed', sans-serif;
  background-color:rgb(219, 236, 237); /*fundo*/
}


.container_header nav{
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 10vw;
  border-bottom: 1px solid #e1e1e1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}


/*
grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    
*/
@media (max-width: 800px) {
  .container-corpo {
    display: block;
    width: 100%;
  }
  .container-corpo div{
        
    align-items: center;
  }

  .container-foto div{
    display: flex;
    flex-direction: column;
    width: 60%;
  }
  .links a{
    /* font-size: 16px; */
    padding-top: 6px;
    padding-bottom: 6px;
  }
  .texto_secao {
    text-decoration: none;
    /* font-size: 20px;   */
    line-height: 1.2;
    text-align: justify;
    padding-bottom: 10px;

  }
  .texto_secao a{
    text-decoration: none;
    /* font-size: 16px;   */
  }
  .texto_secao h2{
    text-decoration: none;
    /* font-size: 30px;   */
  }
  .Botao-Contato a{
    padding: 10px;
    /* font-size: 24px; */
    text-decoration: none;
    width: 60vw;

  }
  .Menu a{
    /* font-size: 20px; */
    
  }


}





/*
p a:visited {
  color: red;
}
p a:active {
  color: purple;
}
a{
  text-decoration: none;
  color: white;
  padding: 50px;
  text-transform: uppercase;
}
padding-left: 10%; 
padding-right: 10%; 
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 1s linear;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
    
  }
  to {
    transform: rotate(-60deg);
  }
}
*/