/*
body {
  --fontColor: red;
  color: var(--fontColor);
}
*/

.App-body{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto Condensed', sans-serif;
}

.Menu a{
  text-decoration: none;
  columns: #000000;
  color: #000000;
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Roboto Condensed', sans-serif;
}

.container-corpo{
  display: grid;
  border: 1px solid #e1e1e1;
  align-items: top;
  text-align: justify;
  grid-template-columns: 300px 1fr;
  grid-row-gap: 20px;
  grid-column-gap: 40px;
  width: 70%;
  padding: 25px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 7px 7px 14px 2px #e1e1e1;
}


.Menu {
  color: white;
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-family: "Roboto Condensed", sans-serif;
  text-align: justify;
}

p a{
  text-decoration: none;
  color: black;
  padding: 2px;
}



.photo{
  border-radius: 50%;
  border: 2px solid  #505050;
}

.foto{
  float: left;
  width: 100%;
  height: auto;
}

.title_page{
  font-size: calc(10px + 3vmin);
  display: grid;
  align-items: center;
  text-align: left;
}
/*100 % da viewing area */ 
.container_menu nav{
  height: 50px;
  width: 100vw;
  border-bottom: 1px solid #e1e1e1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}



.container{
  display:flex;
  font-size: calc(10px + 2vmin);
  
  flex-direction: column;
  text-align: justify;
  
  border: 4px solid black;
  margin: 3%;
  padding: 3%; 
  border-radius: 10px;
}

.textocontainer{
  display: flex;
  justify-content: center;
}

.container a{
  text-decoration: none;
}

.listagem{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 5px;
  padding-bottom: 5px;
}
.container-foto {
  display: flex;
  flex-direction: row;
  justify-content: left;

}

.texto_secao{
  font-size: 24px;  
}
.texto_secao h2{
  margin-top: 0;

}
.texto_secao a{
  text-decoration: none;
  font-size: 30px;  
}
.Contato{
  display: flex;
  flex-direction: column;
  text-align: center;
}

.links{
  display:flex;
  flex-direction: column;
  margin-top: 1%;
  margin-bottom: 1%;
}

.post_text{
  font-size: calc(10px + 2vmin);
  margin-bottom : 15px; 
  margin-top : 15px; 
  font-family: Verdana,Arial;

}

ul{
  margin-left:0px;
}




.App-link {
  color: #61dafb;
  
}

.App-footer div{
  text-align: center;
  font-size: small;
}



@media (max-width: 800px) {
  .container-corpo {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    width: 80%;
  }
  .container-foto{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}





/*

p a:visited {
  color: red;
}

p a:active {
  color: purple;
}



a{
  text-decoration: none;
  color: white;
  padding: 50px;
  text-transform: uppercase;
}

padding-left: 10%; 
padding-right: 10%; 

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 1s linear;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
    
  }
  to {
    transform: rotate(-60deg);
  }
}
*/
