* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
  }

  .container-pagina-toda{
    border: 2px solid #e1e1e1;
    align-items: top;
    text-align: start;
    width: 100vw;
    min-height: 100vh;
    height: fit-content;
    padding: 5px;
    border-radius: 5px;
    background-color: white ;  /*corpo*/
    box-shadow: 3px 3px 14px 2px #383434;
    color:black;
    /* z-index: 1; */
    text-align: left;
  }

  .graph{
    display: grid;
    height: fit-content;
    width:  inherit;
    align-items: center;
    border: 1px solid black ;
  }

  .graph{
    display: grid;
    height: fit-content;
    width:  inherit;
    align-items: center;
    border: 1px solid black ;
  }
  
  
  div.PedidoDados{
    /* font-size: 1.5em; */
    display: flex;
  }

  div.Insiratexto{
    display: flex;
    align-items: center;
    text-align: center;    
    justify-content: center;
    width: fit-content;
    border: 2px solid  red;
  }
  
  div.exibegrafico{
      align-items: center;
  }