/*100 % da viewing area */ 
.container_header nav{
    display: flex;
    flex-direction: row;
    height: 5vh;
    width: 100vw;
    border-bottom: 1px solid #e1e1e1;
    justify-content: space-evenly;
    align-items: center;
    margin-top: -5vh
  }
    
.container_header nav a:hover {
    color: red;
    border-radius: 30%;
  }
  
  .container_header nav a:visited {
    color: gray;
  }
  
  .header {
    background-color: #0C243C;
    display: block;
    /* font-size: 1.5em; */
    position: fixed;
    font-weight: bold;
    z-index: 100;
  }
  
  .header a{
    text-decoration: none;
    columns: #000000;
    color: #000000;
    text-transform: uppercase;
    font-weight: 500;
    font-family: 'Roboto Condensed', sans-serif;
    color: #FFFFFF;
    font-size: 1.2vmax;
  }
